html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  width: 100%;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 0.5rem;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 280px;
  object-fit: cover;
  background-color: #f9f9f9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.quantity {
  font-size: 1.1rem;
  font-weight: bold;
  width: 30px;
  text-align: center;
}

.btn-increase,
.btn-decrease {
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: 1.2rem;
}

.btn-add-to-cart {
  margin-top: 15px;
}

footer {
  width: 100%;
  
  background-color: #f1f1f1; 
  color: #333; 
  margin: 0;
  padding: 15px 0;
  overflow-x: hidden; 
}

#footer-placeholder {
  width: 100%;
}

footer a {
  color: #333;
  text-decoration: none;
}


html,
body {
  height: 100%;
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

#loginForm input {
    padding: 12px;
    font-size: 1rem;
}

#loginForm .d-grid button {
    padding: 12px;
    font-size: 1rem;
}

label.form-label {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5rem;
}

.btn-remove-full {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 600;
  align-self: center;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-remove-full:hover {
  background-color: #bb2d3b;
}

.centered-title {
    margin-top: 2rem; 
    margin-bottom: 2rem; 
}

/* Estilos para que la barra lateral de filtros se quede fija en desktop */
@media (min-width: 992px) {
    .filter-sidebar {
        position: sticky;
        top: 80px; 
        height: calc(100vh - 100px);
        overflow-y: auto;
    }
}